{% extends "desktop/sections/base_section.html" %}

{% block extra_html %} {% spaceless %}
    xmlns:fb="http://www.facebook.com/2008/fbml"
{% endspaceless %}{% endblock %}

{% block left %}
    <div class="page_form">
        <fb:serverfbml>
            <script type="text/fbml">
                <fb:request-form action="" method="POST" invite="true" content="Invite your friends to {{ site_name }}">
                    <fb:multi-friend-selector max="20" />
                </fb:request-form>
            </script>
        </fb:serverfbml>
    </div>
    <script type="text/javascript">
        FB_RequireFeatures(["XFBML"], function(){
            FB.Facebook.init("{{ FACEBOOK_API_KEY }}", "{% url facebook_xd_receiver %}");
        });
    </script>
{% endblock %}
