{% extends "mobile/sections/base.html" %}
{% load mobile_inclusion_tags %}

{% block content_body %}

        <h2>About Us</h2>
		<div class="section">
			<div id="article">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
				<p>Neque porro quisqu am est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
			</div>	
		</div>

{% endblock %}
