<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Broadcast CMS - Contact Us</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<link rel="apple-touch-icon" href="pics/icons/apple-touch-icon.png" />
	<link rel="stylesheet" href="css/mobile.css" type="text/css" />
</head>
<body>
	<div id="header">
		<div id="logo"><a href="index.html"><img src="pics/header/logo.png" alt="Broadcast CMS" /></a></div>
		<div id="header-tools"><a href="sign-in.html">Sign In</a></div>
	</div>
	<div id="content">
		
		<h2>Contact Us</h2>
		
		
		<div class="section">
				
			<h3>Use the form below to get in touch:</h3>
			<div class="clear">&nbsp;</div>
			<form action="contact-thanks.html" method="get" id="contact-form">
				<label for="comp-input" class="line">Your Name:</label>
				<input type="text" maxlength="255" id="contact-name" size="12" name="contact-name" class="text" />
				<label for="comp-input" class="line">Your Mobile:</label>
				<input type="text" maxlength="255" id="contact-mobile" size="12" name="contact-mobile" class="text" />
				<label for="comp-answer" class="line">Your Message:</label>
				<textarea name="comment" id="comment"></textarea>
				<input type="submit" id="comp-submit" name="comp-submit" value="Send" class="btn btn-b" />
			</form>
		
		</div>
		
		<h2>Search</h2>
		<div class="section">
		
			<div id="search">
				<form action="search-results.html" method="get" id="search-form">
					<input type="text" maxlength="255" id="search-input" size="12" name="search-input" />
					<input type="submit" id="search-submit" name="search-submit" value="Search" />
				</form>
			</div>
	
		</div>	
		
		<h2>Menu</h2>
		
			<div id="nav">
				<ul>
					<li><a href="shows.html">Shows &amp; DJs <span class="red">&raquo;</span></a></li>
					<li><a href="news.html">News <span class="red">&raquo;</span></a></li>
					<li><a href="events.html">Events &amp; Gigs <span class="red">&raquo;</span></a></li>
					<li><a href="comps.html">Competitions <span class="red">&raquo;</span></a></li>
					<li><a href="galleries.html">Galleries <span class="red">&raquo;</span></a></li>
					<li><a href="about.html">About <span class="red">&raquo;</span></a></li>
					<li><a href="contact.html">Contact Us <span class="red">&raquo;</span></a></li>					<li class="last"><a href="profile.html">My Account <span class="red">&raquo;</span></a></li>
				</ul>
			</div>
	
		
	</div>
	<div id="footer">&copy; 2009 Broadcast CMS. Powered by <a href="#">Broadcast CMS</a>. <a href="terms.html">Terms</a>. <a href="privacy.html">Privacy</a>. <a href="#">Web Version</a></div>
</body>
</html>
