{% extends "mobile/sections/base.html" %}
{% load mobile_inclusion_tags %}

{% block content_body %}
    <h2>Contact Us</h2>
    <div class="section">
        {% if sent %}
            <h3>Thanks for getting in touch! We'll get back to you as soon as possible.</h3>
            <div class="clear">&nbsp;</div>
        {% else %}
            <h3>Use the form below to get in touch:</h3>
        <div class="clear">&nbsp;</div>
        <form method="POST" id="contact-form">
            {{ form.as_p }}
            <span style="display:none"><label>Don't fill this in or we'll think you're a machine.</label><input type="text" name="block_it" value="" /></span>
            <p><input type="submit" id="comp-submit" name="comp-submit" value="Send" /></p>
        </form>
        {% endif %}
    </div>
{% endblock %}
{% block contact_active %}class="active_lnk"{% endblock %}