<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Broadcast CMS - Galleries</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<link rel="apple-touch-icon" href="pics/icons/apple-touch-icon.png" />
	<link rel="stylesheet" href="css/mobile.css" type="text/css" />
</head>
<body>
	<div id="header">
		<div id="logo"><a href="index.html"><img src="pics/header/logo.png" alt="Broadcast CMS" /></a></div>
		<div id="header-tools"><a href="sign-in.html">Sign In</a></div>
	</div>
	<div id="content">
		
		<h2>Galleries</h2>
		
		<div class="section">
			<div class="abstract">
				<img src="pics/content/1.jpg" class="thumb" />
				<div class="tag">30 Sep '09 - 999 Likes - <a href="#">I Like</a></div>
				<h3>Glastonbury Festival 2009</h3>
			</div>	
				
		<div id="article">
			
			<img src="pics/content/photo.png" alt="" class="photo"/>
			
			<div id="paginate"><a href="#">&laquo; Prev</a> | <a href="gallery.html">Gallery</a> | <a href="#">Next &raquo;</a></div>
		
		</div>
		
	</div>
		
		<div class="filter">
			<ul>
				<li><a href="galleries.html">More Galleries <span class="red">&raquo;</span></a></li>
			</ul>
		</div>
		
		<h2>23 Comments</h2>
		
		<div class="section">
		
			<div class="comment">
				<div class="tag">23. Grant10 - 5 Mins Ago</div>
				<p>I don't think it has anything to do with marketing. The price for the tickets are just too much</p>
			</div>
			<hr />
			<div class="comment">
				<div class="tag">22. coda - 6 Mins Ago</div>
				<p>bond is quick...and the pitch assisting...would love them to beat them aussies.</p>
			</div>
			<hr />
			<div class="comment">
				<div class="tag">21. MrBabyMan - 10 Mins Ago</div>
				<p>Very slow, but sensible. Need to nip a couple out soon.</p>
			</div>
			<hr />
			<div class="comment">
				<div class="tag">20. Grant10 - 25 Mins Ago</div>
				<p>I don't think it has anything to do with marketing. The price for the tickets are just too much</p>
			</div>
			<hr />
			<div class="comment">
				<div class="tag">19. coda - 1 Hour Ago</div>
				<p>I don't think it has anything to do with marketing. The price for the tickets are just too much</p>
			</div>
		
		</div>
		
		<div class="filter">
			<ul>
				<li><a href="#">More comments <span class="red">&raquo;</span></a></li>
				<li><a href="post-comment.html">Add your comment <span class="red">&raquo;</span></a></li>
			</ul>
		</div>
		
		<h2>Search</h2>
		<div class="section">
		
			<div id="search">
				<form action="search-results.html" method="get" id="search-form">
					<input type="text" maxlength="255" id="search-input" size="12" name="search-input" />
					<input type="submit" id="search-submit" name="search-submit" value="Search" />
				</form>
			</div>
	
		</div>	
		
		<h2>Menu</h2>
		
			<div id="nav">
				<ul>
					<li><a href="shows.html">Shows &amp; DJs <span class="red">&raquo;</span></a></li>
					<li><a href="news.html">News <span class="red">&raquo;</span></a></li>
					<li><a href="events.html">Events &amp; Gigs <span class="red">&raquo;</span></a></li>
					<li><a href="comps.html">Competitions <span class="red">&raquo;</span></a></li>
					<li><a href="galleries.html">Galleries <span class="red">&raquo;</span></a></li>
					<li><a href="about.html">About <span class="red">&raquo;</span></a></li>
					<li><a href="contact.html">Contact Us <span class="red">&raquo;</span></a></li>					
					<li class="last"><a href="profile.html">My Account <span class="red">&raquo;</span></a></li>
				</ul>
			</div>
	
		
	</div>
	<div id="footer">&copy; 2009 Broadcast CMS. Powered by <a href="#">Broadcast CMS</a>. <a href="terms.html">Terms</a>. <a href="privacy.html">Privacy</a>. <a href="#">Web Version</a></div>
</body>
</html>
