{% load template_tags %}

<div class="social_item">
    <p class="user_actions"><a {% if action_href %}href="{{ action_href }}"{% endif %} id="user_{{ user.pk }}" class="{{ action_class }}">{{ action_text }}</a></p>
	<p class="user_avatar">
        <a href="user-friends-profile.html">
            {% profile_image profile 50 50 %}
        </a>
    </p>
	<p class="user_date">Last Seen {{ user.last_login|date:"j F Y" }}</p>
	<p class="user_name">{{ user.username }}{% if user.first_name and user.last_name %} ({{ user.first_name|capfirst }} {{ user.last_name|capfirst }}){% endif %}</p>
	<p class="user_meta">{{ update_count }} Status Updates  |  {{ like_count }} Likes  |  {{ comment_count }} Comments</p>
</div>
