{% load scaled_image_tags %}

{% if user.is_authenticated %}
    <p class="logged_avatar">
        <a href="{% url account_picture %}">
            {% if profile.facebook_id and profile.use_facebook_picture %}
                <fb:profile-pic linked="false" uid="{{ profile.facebook_id }}" width="35" height="35" />
            {% else %}
                <img src="{% if profile.image %}{% scaled_image_url profile 35 35%}{% else %}/media/bcms/images/examples/avatar_logged.jpg{% endif %}" width="35" height="35" alt="" />
            {% endif %}
        </a>
    </p>
    <p class="logged_info">
        <span class="logged_name">Hello {{ user.username }}</span><br />
    	<span class="logged_links"><a href="{% url account_profile %}">Profile</a> | {% if fb_authenticated %}<a id="fb_sign_out" href="#">Sign out</a>{% else %}<a id="sign_out" href="#">Sign out</a>{% endif %}</span>
    </p>
{% else %}
    <p class="logged_avatar">
        <a><img src="/media/bcms/images/examples/avatar_logged.jpg" width="35" height="35" alt="" /></a>
    </p>
    <p class="logged_info">
        <span class="logged_name">Hello Stranger</span><br />
    	<span class="logged_links"><a href="{% url modals_login %}?height=370&amp;width=540" class="thickbox">Sign in</a> | <a href="{% url modals_register %}?height=630&amp;width=515" class="thickbox">Sign up</a></span>
    </p>
{% endif %}
