{% load desktop_inclusion_tags %}

<div class="mast_head">
    <div class="logo"><a href="{% url home %}"></a></div>	
		
    <div class="logged">
	    <div class="logged_status">
		    <form id="frmStatusUpdate" action="#" method="post">
			    <p class="status_update"><input type="text" name="status_update" value="Update your status here..." onfocus="if (this.value == 'Update your status here...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Update your status here...';}" /></p>
				<p class="status_update_btn"><input type="submit" name="submit" value="Update" /></p>
			</form>
		</div>

        <div id="account_links">
            {% account_links %}
        </div>

	</div>
	
	<div class="nav">
	    <ul>
            {% for item in items %}
    		    <li {% if item.current %}class="on"{% endif %}><a href="{{ item.url }}">{{ item.title|safe }}</a></li>
            {% endfor %}
		</ul>
        {% if settings.gcs_partner_id %}
            <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=frmSearch"></script>
		    <div class="search">
                <form id="frmSearch" name="frmSearch" action="{% url search_results %}">
                    <input name="cx" value="{{ settings.gcs_partner_id }}" type="hidden">
                    <input name="cof" value="FORID:11" type="hidden">
                    <input name="ie" value="ISO-8859-1" type="hidden">
				    <p class="field">
                        <input type="text" name="q" value="{% if request.GET.q %}{{ request.GET.q }}{% else %}Search{% endif %}" onfocus="if (this.value == 'Search') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search';}" />
                    </p>
    				<p><input type="submit" value="" class="btn" /></p>
				</form>
			</div>
        {% endif %}
	</div>

	
</div><!--/MAST_HEAD-->
