<span class="auth_reload" src="{% url ssi_status_update_node %}">
    {% if request.user.is_authenticated %}
        <div class="logged_status">
            <form id="frmStatusUpdate" action="{% url status_update %}" method="post">
	            <p class="status_update"><input type="text" name="status_update" value="Update your status here..." /></p>
        		<p class="status_update_btn"><input type="submit" name="submit" value="Update" /></p>
            </form>
        </div>
    {% endif %}
</span>
