{% load template_tags %}

<div class="social_item">
    <p class="user_actions">
        <a href="{% url messages_thread_detail thread.pk %}#reply" class="user_reply">Reply</a>
        {% comment %}
        <a href="#" class="user_delete">Delete</a>
        {% endcomment %}
    </p>
	<p class="user_avatar"><a href="{% url account_friends_activity sender.pk %}">
        {% profile_image profile 50 50 %}
    </a></p>
	<p class="user_name_time">
	    <span class="user_message_name">{{ sender.username }}</span>
		<span class="user_message_time">{{ object.sent_at|timesince }} ago</span>
	</p>
	<p class="user_message_subject"><a>{{ object.content|linebreaksbr }}</a></p>
</div>
