{% extends "mobile/sections/base.html" %}
{% load scaled_image_tags %}
 
{% block content_body %}
    {% if object_list %}
    <h2>Competitions</h2>
    <div class="section">
        {% for obj in object_list %}
        <div class="abstract">
            <a href="{{ obj.get_absolute_url }}"><img src="{% scaled_image_url obj  55 55 %}" class="thumb" /></a>
            <div class="tag">{{ obj.title }}</div>
            <h3><a href="{{ obj.get_absolute_url }}">{{ obj.description }}</a></h3>
        </div>
        {% if not forloop.last %}<hr />{% endif %}
        {% endfor %}
    </div>
    {% endif %}
    {% if is_paginated %}
    <div class="filter">
        <ul>
            <li>
                {% if has_previous %}<a href="/competition/{{ previous }}/"><span class="red">&laquo;</span> Go Back</a>{% endif %}
                {% if has_next and has_previous %} &nbsp; | &nbsp; {% endif %}
                {% if has_next %}<a href="/competition/{{ next }}/">See More <span class="red">&raquo;</span></a>{% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
{% block competitions_active %}class="active_lnk"{% endblock %}