{% if castmember_status_updates or friends_status_updates %}
{% load public_tags %}

<div class="updates global green">
    <h1>Update Stream</h1>
	<ul class="global_updates_nav">
        {% if castmember_status_updates %}
    	    <li class="dj_updates"><a href="#" rel="#dj_updates">DJ's</a></li>
        {% endif %}
        {% if friends_status_updates %}
    		<li class="friend_updates"><a href="#" rel="#friend_updates">Your Friends</a></li>
        {% endif %}
	</ul>
    {% if castmember_status_updates %}
    	<div class="global_updates" id="dj_updates">
            {% for update in castmember_status_updates %}
                {% call_view update render_updates %}
            {% endfor %}
	    </div>
    {% endif %}
    {% if friends_status_updates %}
    	<div class="global_updates" id="friend_updates">
            {% for update in friends_status_updates %}
                {% call_view update render_updates %}
            {% endfor %}
	    </div>
    {% endif %}
    {% if current %}<p class="updates_more"><a class="latest_status_update">Your Latest: {{ current.text|truncatewords:"6" }}</a></p>{% endif %}
	<p class="clearfix"></p>
</div><!--/Updates-->
<script type="text/javascript">
    jQuery(function() {
	    jQuery(".global_updates").hide(); //Hide all content
    	jQuery("ul.global_updates_nav a:first").addClass("selected").show(); //Activate first tab
	    jQuery(".global_updates:first").show(); //Show first tab content
    });
</script>
{% endif %}
