{% load template_tags %}

<div class="page_head user">
    <h1>
        <span class="avatar">
            {% profile_image user 41 41 %}
        </span>
        {{ user.username }} &nbsp;
        <img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" />
    </h1>
    <div class="page_menu">
        <h2>{{ account_section.title }}</h2>
        <ul>
            {% for item in menu_items %}
                <li {% ifequal item.section account_section %}class="on"{% endifequal %}><span class="pm_left"></span><a href="{{ item.url }}">{{ item.title }}</a><span class="pm_right"></span></li>
            {% endfor %}
        </ul>
    </div>
</div><!--/head-->
