{% extends "desktop/base/base.html" %}
{% load desktop_inclusion_tags %}
{% load public_tags %}

{% block content_body %}
    
    {% for widget in top_widgets %}
        {% call_view widget.as_leaf_class render %}
    {% endfor %}

    <div class="mast_left{% if not layout.background %} no-bg{% endif %}">
        {% for widget in left_widgets %}
            {% call_view widget.as_leaf_class render %}
        {% endfor %}
	</div><!--/MAST_LEFT-->
	
    <div class="mast_right">
        {% for widget in right_widgets %}
            {% call_view widget.as_leaf_class render %}
        {% endfor %}
	</div><!--/MAST_RIGHT-->
{% endblock %}
