<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>New User Account - {{ site_name }}</title>
</head>

<body style="margin: 0px; padding: 0px; background: #dedede;">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" style="background: #dedede;">
<tr>
<td valign="top" align="center">

	<!--header-->
	<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tr>
	<td colspan="2"><img src="{{ host }}/media/bcms/images/mailers/banner.jpg" width="600" height="51" alt="" style="border: 0; margin: 0; padding: 0; display: block;" /></td>
	</tr>
	<tr>
	<td colspan="2"><div style="position: relative;"><img src="{{ host }}/media/bcms/images/mailers/bg-head.jpg" width="600" height="41" alt="" style="border: 0; margin: 0; padding: 0; display: block;" /><div style="position: absolute; top: 0px; left: 0px; z-index: 1;"><span style="font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif; font-size: 18px; font-weight: bold; color: #292929; line-height: 41px; float: left; margin: 0px 14px;">New User Account</span><img src="{{ host }}/media/bcms/images/mailers/arrow.gif" width="9" height="24" alt="" style="float: left;" /></div></div></td>
	</tr>
	</table>
	
	<!--body-->
	<table border="0" cellpadding="0" cellspacing="0" width="600" style="background: #fff; padding: 25px 0px;">
	<tr>
	<td width="160" valign="top" align="center"><img src="{{ host }}/media/bcms/images/mailers/icon-new.jpg" width="60" height="45" alt="" /></td>
	<td width="440" style="font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif; font-size: 12px; color: #292929; text-align: left;"><strong style="font-size: 18px;">Hello, {{ username }}</strong>
<br /><br />
<strong>Thank you for signing up with {{ site_name }}. We're really excited that you've<br />joined our online community!</strong>
<br /><br />
In case you forget, your login details are:
<br /><br />
<strong>Username:</strong> {{ username }}<br />
<strong>Password:</strong> {{ password }}
<br /><br />
If you're having any problems, please <a href="http://www.google.com">contact us</a>.
<br /><br />
The {{ site_name }} Team</td>
	</tr>
	</table>
	
	<!--footer-->
	<table border="0" cellpadding="0" cellspacing="0" width="600">
	<tr>
	<td><div style="position: relative;"><img src="{{ host }}/media/bcms/images/mailers/bg-foot.jpg" width="600" height="34" alt="" style="border: 0; margin: 0; padding: 0; display: block;" /><div style="position: absolute; top: 0px; left: 0px; z-index: 1;"><span style="float: left; font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif; font-size: 11px; color: #999; line-height: 34px; margin: 0px 14px;">&copy; {% now "Y" %} {{ site_name }}, All rights reserved.</span><span style="float: right; font-family: Arial, Helvetica, Tahoma, Verdana, sans-serif; font-size: 11px; color: #999; line-height: 34px; margin: 0px 14px; text-align: right;">Please read our <a href="terms.html" style="color: #fff;">Terms and Conditions</a> and <a href="privacy.html" style="color: #fff;">Privacy Policy</a></span></div></div></td>
	</tr>
	</table>
	
</td>
</tr>
</table>

</body>
</html>
