{% extends "desktop/base/section.html" %}

{% load desktop_inclusion_tags %}
{% load friends_tags %}

{% block left %}
    {% account_menu %}
    {% account_thanks %}
    
    <div class="page_form">
        {% if friends %}
            <p>You have {{ friends|length }} friends.</p>
            <ul>
                {% for user in friends %}
                    <li>{{ user }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no friends</p>
        {% endif %}
        {% if invitations %}
            <p>You have {{ invitations|length }} invitations.</p>
            <ul>
                {% for inv in invitations %}
                    <li>
                        {% ifequal inv.from_user user %}
                            You invited {{ inv.to_user }} to be friends.
                        {% else %}
                            {{ inv.from_user }} invited you to be friends.
                        {% endifequal %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You have no invitations.</p>
        {% endif %}
    </div>
{% endblock %}
