{% extends "desktop/sections/base_section.html" %}
{% load desktop_inclusion_tags %}

{% block left %}
    
    {% account_menu %}
    {% account_thanks %}
	
    <div class="page_form">
	    <h2 class="smaller">Update your details using the form below.</h2>
		<form id="frmUserProfileUpdate" action="{% url account_subscriptions %}" method="post">
            {% with form.email_subscribe as field %}
			    <div class="page_form_row">
					<label for="{{ field.name }}">{{ field.label|safe }}</label>
					<p class="checkbox_short">
                        {{ field }}
                        {{ field.help_text }}
                        {% if field.errors %}
                            <label class="error" for="{{ field.name }}" generated="true" style="display: inline;">{{ field.errors.0 }}</label>
                        {% endif %}
                    </p>
				</div>
            {% endwith %}
            {% with form.sms_subscribe as field %}
			    <div class="page_form_row">
					<label for="{{ field.name }}">{{ field.label|safe }}</label>
					<p class="checkbox_short">
                        {{ field }}
                        {{ field.help_text }}
                        {% if field.errors %}
                            <label class="error" for="{{ field.name }}" generated="true" style="display: inline;">{{ field.errors.0 }}</label>
                        {% endif %}
                    </p>
				</div>
            {% endwith %}
			<div class="page_form_row no-pad">
			    <p class="label">&nbsp;</p>
				<p class="btn"><input type="image" src="/media/bcms/images/forms/btn-sign_up.jpg" name="submit" /></p>
			</div>
		</form>
	</div><!--/form-->
{% endblock %}
