{% extends "desktop/sections/base_section.html" %}

{% load desktop_inclusion_tags %}
{% load friends_tags %}

{% block left %}
    {% account_menu %}
    {% account_thanks %}
    
    <div class="page_form">
        <form id="status_form" action="{% url status_update %}" method="post">
            <div class="page_form_row">
                <label for="text">What's your status?</label>
                <p class="text_input shift">
                    <input id="id_text" type="text" name="text" value="{{ current_status.text|default:"" }}" />
                </p>
                <p class="btn">
                    <input type="submit" value="Update" />
                </p>
            </div>
        </form>
    </div>
    {% if user.profile.facebook_id and user.profile.publish_facebook_status %}
        <script type="text/javascript">
            $(function() {
                $("#status_form").submit(function() {
                    Facebook.publish_stream({
                        auto_publish: true,
                        user_message: "updated their status on {{ site_name }}",
                        attachment: {
                            name: "{{ site_name }}",
                            href: "{% url home %}",
                            description: $("#id_text").val()
                        }
                    });
                    return true;
                });
            });
        </script>
    {% endif %}
{% endblock %}
