{% extends "desktop/sections/base_section.html" %}

{% load desktop_inclusion_tags %}
{% load friends_tags %}

{% block left %}
    {% account_menu %}
    {% account_thanks %}
    
    <div class="page_form">
        <form action="{% url status_update %}" method="post">
            <div class="page_form_row">
                <label for="text">What's your status?</label>
                <p class="text_input shift">
                    <input type="text" name="text" value="{{ current_status.text|default:"" }}" />
                </p>
                <p class="btn">
                    <input type="submit" value="Update" />
                </p>
            </div>
        </form>
    </div>
{% endblock %}
