{% extends "mobile/sections/base.html" %}
{% load  scaled_image_tags humanize %}

{% block content_body %}
    {% if object_list %}
    <h2>Upcoming Events</h2>
    {% for obj in object_list %}
        {% ifchanged %}<h2>{{ obj.start|naturalday|title }}</h2>{% endifchanged %}
        <div class="section">
            {% if not forloop.first %}{% ifchanged obj.start|naturalday %}{% else %}<hr />{% endifchanged %}{% endif %}
            <div class="abstract">
                <a href="{{ obj.content.get_absolute_url }}"><img src="{% scaled_image_url obj.content 55 55 %}" class="thumb" /></a>
                <div class="tag">
                    {% with obj.content.as_leaf_class.locations.permitted as locations %}
                    {% for location in locations %}
                        {{ location.venue }}{% if location.city %}, {{ location.city }}{% endif %}
                        {% if not forloop.last %}<span>&nbsp; | &nbsp;</span>{% endif %}
                    {% endfor %}
                    {% endwith %}
                </div>
                <h3><a href="{{ obj.content.get_absolute_url }}">{{ obj.content.description }}</a></h3>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <div class="section">
            There are no Upcoming Events.
        </div>
    {% endif %}
    {% if is_paginated %}
    <div class="filter">
        <ul>
            <li>
                {% if has_previous %}<a href="/event/{{ previous }}/"><span class="red">&laquo;</span> Go Back</a>{% endif %}
                {% if has_next and has_previous %} &nbsp; | &nbsp; {% endif %}
                {% if has_next %}<a href="/event/{{ next }}/">See More <span class="red">&raquo;</span></a>{% endif %}
            </li>
        </ul>
    </div>
    {% endif %}
{% endblock %}
{% block events_active %}class="active_lnk"{% endblock %}
