{% extends "mobile/sections/base.html" %}
{% load mobile_inclusion_tags %}

{% block content_body %}
       <h2>Events - Today</h2>
		<div class="section">
			<div class="abstract">
				<a href="news-article.html"><img src="pics/content/1.jpg" class="thumb" /></a>
				<div class="tag">Cool Runnings, JHB</div>
				<h3><a href="event-article.html">Reverend Wright and The Mystery Train Gamblers</a></h3>
			</div>
			<hr />
		</div>
		<h2>Tomorrow</h2>
		<div class="section">
			<div class="abstract">
				<a href="news-article.html"><img src="pics/content/1.jpg" class="thumb" /></a>
				<div class="tag">Cool Runnings, JHB</div>
				<h3><a href="event-article.html">Reverend Wright and The Mystery Train Gamblers</a></h3>
			</div>
			<hr />
		</div>
        <div class="filter">
			<ul>
				<li><a href="#">See More <span class="red">&raquo;</span></a></li>
			</ul>
		</div>
{% endblock %}
{% block events_active %}class="active_lnk"{% endblock %}
