{% load scaled_image_tags %}

<div class="box">
    <h1>Now Playing &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
	<div class="box_show_info">
	    {% if primary_castmember %}<p class="bsi_thumb"><img src="{% scaled_image_url primary_castmember 81 81 %}" width="81" height="81" alt="" /></p>{% endif %}
		<p class="bsi_time">On Air: {{ entry.start|date:"H:i" }} - {{ entry.end|date:"H:i" }}</p>
		<p class="bsi_name"><a href="{{ primary_castmember.url }}">{{ show.title }}</a><br />{% if primary_castmember %} with {{ primary_castmember.title }}{% endif %}</p>
	</div>
	{% if song %}<p class="box_playing"><strong>Now Playing:</strong> {% if artist %} {{ artist.title }} -{% endif %} {{ song.title }}</p>{% endif %}
	<p class="box_links">{% if settings.player_controls %}<a href="javascript: openPlayer({% url listen_live %});" class="listen_live">Listen Live</a>{%else %}<a href="{% url shows_line_up %}" class="shows">Show Lineup</a>{% endif %}{% if settings.studio_cam_urls %}<a href="javascript: openCam({% url studio_cam %});" class="studio_cam">Studio Cam</a>{% else %}<a href="{% url news %}" class="news">News</a>{% endif %}{% if primary_castmember %}<a href="{{ primary_castmember.url }}" class="my_blog">My Blog</a>{% else %}<a href="{% url contact %}" class="contact">Contact Us</a>{% endif %}</p>
	{% if next_str %}<p class="box_bottom"><strong>Next:</strong> {{ next_str }}</p>{% endif %}
</div><!--/box-->
