{% extends "desktop/sections/base_section.html" %}
{% load desktop_inclusion_tags scaled_image_tags public_tags %}

{% block left %}
    <div class="page_head">
	    <h1>{{ page_title|safe }} &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
        {% if page_menu %}
		<div class="page_menu">
		    <h2>{{ page_menu.title }}</h2>
			<ul>
                {% for item in page_menu.items %}
	                <li {% ifequal item page_menu.active_item %}class="on"{% endifequal %}><span class="pm_left"></span><a href="{{ item.url }}">{{ item.title }}</a><span class="pm_right"></span></li>
                {% endfor %}
			</ul>
		</div>
        {% endif %}
	</div><!--/head-->
    {% for template_name in header_includes %}
        {% include template_name %}
    {% endfor %}
    {% block listing %}
    {% endblock %}
    {% if is_paginated %}
        {% paging page_obj %}
    {% endif %}
{% endblock %}
