{% extends "desktop/generic/base_generic.html" %}
{% load public_tags %}

{% block generic %}
    <div class="page_container">
        {% for entry in object_list %}
            {% if forloop.counter0|divisibleby:"3" or forloop.first %}
	            <div class="block_container">
            {% endif %}
                {% call_view entry render_block %}
            {% if forloop.counter|divisibleby:"3" or forloop.last %}
                </div>
            {% endif %}
        {% endfor %}
	</div><!--/container-->
{% endblock %}
