{% extends "sections/base.html" %}
{% load inclusion_tags %}

{% block head %}
	<!--Slider-->
	<script type="text/javascript" src="/media/bcms/includes/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="/media/bcms/includes/jquery.localscroll-1.2.7-min.js"></script>
	<script type="text/javascript" src="/media/bcms/includes/jquery.serialScroll-1.2.2-min.js"></script>
	<script type="text/javascript" src="/media/bcms/includes/coda-slider.js"></script>
	
    <link rel="stylesheet" type="text/css" href="/media/bcms/includes/popups.css" />
{% endblock %}

{% block body %}
<div class="uber_popup">
	<div class="mast_head uber_head">
        <div class="logo"><a href="{% url home %}"></a></div>
		<div class="uber_close"><a href="javascript: window.close();" class="close">Close</a></div>
	</div><!--/MAST_HEAD-->

        {% block title %}{% endblock %}

		<div class="uber_body">

            {% block uber_body %}{% endblock %}

		</div><!--/Uber_Body-->
	<div class="mast_foot uber_foot">

        {% mastfoot %}

    </div>
</div><!--/UBER_POPUP-->
{% endblock %}
