<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Report Commenting Abuse - Broadcast CMS</title>
</head>

<body>
	<script type="text/javascript">
	    $().ready(function() {
	        bindForm();
    	});
	</script>
	<div class="modal">
	
		<div class="modal_title">
			<h1>Forgotten Password Recovery</h1>
			<p><a href="javascript: void(0);" onclick="tb_remove()" id="TB_closeWindowButton" class="close">Close</a></p>
			<p class="modal_intro">Fill in the form below and we'll send you help via email.</p>

			<p class="modal_intro" id="reminder_done" style="display: none;">Email sent. Please check your inbox for further instructions.</p>
		</div>

		<form id="frmForgottenPassword" action="{% url modals_password_reset %}" method="POST" class="cmxform">
            {% for field in form %}
			    <div class="modal_row">
                    {{ field.label_tag }}
    				<p class="text_input shift">{{ field }}</p>
	    		</div>
                {{ field.errors }}
            {% endfor %}
			<ul class="modal_buttons">
				<li><input type="image" id="reset_submit" src="/media/bcms/images/forms/btn-recover_password.jpg" name="submit" /></li>
			</ul>
			<div class="modal_busy">
                Requesting, please wait...<br />
                <img src="/media/bcms/images/loadingAnimation.gif" />
            </div>
		</form>
	
	</div><!--/MODAL-->
</body>
</html>
