<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
	<title>Report Commenting Abuse - Broadcast CMS</title>
</head>

<body>
	<script type="text/javascript">
	jQuery().ready(function() {
		jQuery("#frmForgottenPassword").validate();
		jQuery(".shift").click(function () {
	      jQuery(this).css({'background-position' : '0px -31px'});
	    });
		jQuery(".shift input").blur(function () {
	      jQuery(".shift").css({'background-position' : '0px 0px'});
	    });
	});
	</script>
	<div class="modal">
	
		<div class="modal_title">
			<h1>Forgotten Password Recovery</h1>
			<p><a href="javascript: void(0);" onclick="tb_remove()" id="TB_closeWindowButton" class="close">Close</a></p>
			<p class="modal_intro">Fill in the form below and we'll send you help via email</p>
		</div>
		
		<form id="frmForgottenPassword" action="#" class="cmxform">
			<div class="modal_row">
				<label for="alias">Alias/Email:</label>
				<p class="text_input shift"><input type="text" id="alias" name="alias" class="required" minlength="4" /></p>
			</div>
			<ul class="modal_buttons">
				<li><input type="image" src="/media/bcms/images/forms/btn-recover_password.jpg" name="submit" /></li>
			</ul>
		</form>
	
	</div><!--/MODAL-->
</body>
</html>
