{% extends "desktop/base/account.html" %}

{% load desktop_inclusion_tags %}
{% load public_tags %}
{% load template_tags %}

{% block left %}
    {% account_menu %}
			
    <div class="social">
        {% if object_list %}
    		<h2 class="smaller no-bg">{{ user.username }}'s Activities</h2>
            <div class="thread_participants">
                <a>
                    {% profile_image user.profile 35 35 %}
                </a>
            </div>
        {% endif %}
	    <div class="social_body">
            {% if object_list %}
                {% social_paging page_obj %}
            
                {% for object in object_list %}
                    {% call_view object render_listing %} 
                {% endfor %}        
            {% else %}
	    		<h2 class="smaller no-bg">{{ user.username }} appears to be inactive. Please check back later.</h2>
            {% endif %}
		</div>
	</div><!--/social-->
{% endblock %}
