{% extends "desktop/base/base.html" %}
{% load desktop_inclusion_tags %}
{% load public_tags %}

{% block content_body %}
    
    {% for widget in top %}
        {% call_view widget render %}
    {% endfor %}

    <div class="mast_left no-bg">
        {% for widget in left %}
            {% call_view widget render %}
        {% endfor %}
	</div><!--/MAST_LEFT-->
		
	<div class="mast_right">
        {% for widget in right %}
            {% call_view widget render %}
        {% endfor %}
	</div><!--/MAST_RIGHT-->
{% endblock %}
