{% extends 'mobile/sections/base.html' %}
{% block content_body %}
{% load highlight pagination_nav %}
    <h2>Search Results</h2>
    <div class="section">
        <div id="article">
            <p>You searched for: <span class="highlighted">{{ request.GET.q }}</span>. {{ paginator.count|default:"No" }} results found</p>
            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a><br />
                    {% if result.content %}{% highlight result.content with request.GET.q max_length 55 %}{% endif %}
                </p>
            {% endfor %}
            <div id="paginate">{% pagination_nav_qs page '/search/' request.GET %}</div>
        </div>	
    </div>
{% endblock %}