<div class="page_head">
    {% if page_title_link %}
        <a href="{{ page_title_link }}"><h1>{{ page_title|safe }} &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1></a>
    {% else %}
        <h1>{{ page_title|safe }} &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
    {% endif %}
    {% if page_menu %}
        {{ page_menu.render }}
    {% endif %}
</div><!--/head-->
{% for template_name in header_includes %}
    {% include template_name %}
{% endfor %}
