{% extends "mobile/sections/base.html" %}
{% load mobile_inclusion_tags %}

{% block content_body %}
       <h2>Galleries</h2>
		<div class="section">
			<div class="abstract">
				<a href="gallery.html"><img src="pics/content/1.jpg" class="thumb" /></a>
				<div class="tag">30 Sep '09</div>
				<h3><a href="gallery.html">Glastonbury Festival 2009</a></h3>
			</div>
			<hr />
		</div>
		<div class="filter">
			<ul>
				<li><a href="#">See More <span class="red">&raquo;</span></a></li>
			</ul>
		</div>
{% endblock %}
