{% extends "mobile/sections/base.html" %}
{% load scaled_image_tags comments voting_tags public_tags template_tags mobile_inclusion_tags %}

{% get_comment_count for obj as comment_count %}
{% score_for_object obj.contentbase as score %}
 
{% block content_body %}
    {% if obj %}
    <h2>{% if comment_add %}Add Your Comment{% else %}Galleries{% endif %}</h2>
    <div class="section">
        <div class="abstract">
            <img src="{% scaled_image_url obj  55 55 %}" class="thumb" />
            <div class="tag">{{ obj.created|date }} &nbsp; | &nbsp; {{ score.score|default:"0" }}  Likes - <a href="/voting/{{ obj.slug }}/">I Like</a></div>
            <h3>{{ obj.title }}</h3>
        </div>
        {% if not comment_add %}
        <div id="article">
        <ul id="gal">
            {% for image in obj.images.permitted %}
    		    <li><a class="thumb" href="{{ image.image.url }}"><img src="{% scaled_image_url image 80 53 %}" width="80" height="53" /></a></li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
    </div>
    {% if not comment_add %}
    <div class="filter">
        <ul>
            <li><a href="/news/">More News <span class="red">&raquo;</span></a></li>
        </ul>
	</div>
    {% endif %}
    {% if comment_add %}{% comments_add_form obj %}{% else %}{% comments obj %}{% endif %}
    {% endif %}
{% endblock %}
{% block gallery_active %}class="active_lnk"{% endblock %}