{% load comments scaled_image_tags %}

{% get_comment_list for instance as comment_list %}
{% if not comment_form %}{% get_comment_form for instance as comment_form %}{% endif %}

<span id="comments">
<div class="page_comments">
    <a id="comments"></a>
    {% if comment_list %}
        <h1>Comments &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
    	<p class="comment_add"><a href="#comment_form">+ Add your Comment</a></p>
        {% for comment in comment_list %}
            {% with comment.user as user %}
                <div class="comment">
	                <p class="avatar">
                        {% if user %}
                            <img src="{% if user.profile.image %}{% scaled_image_url user.profile 50 50 %}{% else %}/media/bcms/images/examples/avatar_logged.jpg{% endif %}" width="50" height="50" alt="" />
                        {% else %}
                            <img src="/media/bcms/images/examples/avatar_logged.jpg" width="50" height="50" alt="" />
                        {% endif %}
                    </p>
    		        <p class="com_meta">
	    	            <span class="com_meta_name">{% if user %}{{ user.username }}{% else %}Anonymous{% endif %}</span>
		    	        <span class="com_meta_time">{{ comment.submit_date|date:"D, j M G:i" }}</span>
			            <span class="com_meta_abuse"><a href="abuse_pop.html?height=500&amp;width=540" class="thickbox">Report Abuse</a></span>
		            </p>
	                <p class="com_blurb">{{ comment.comment|linebreaksbr }}</p>
    	        </div><!--/comment-->
            {% endwith %}
        {% endfor %}
    {% endif %}
</div><!--/comments-->

<script type="text/javascript">
    $().ready(function() {
	    bindForm();
        validateComments();
        submit_facebook_comment = function(text) {
            {% if request.user.profile.facebook_id and request.user.profile.publish_facebook_comments %}
                Facebook.publish_stream({
                    auto_publish: true,
                    user_message: "commented on {{ site_name }}",
                    attachment: {
                        name: $('.post_head h3').text(),
                        href: window.location.toString(),
                        description: text
                    }
                });
            {% endif %}
        };
    });
</script>

<div class="page_form comment_form"><a id="comment_form"></a>
    <h1>Add your Comment &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
	<form id="frmComments" action="{% url comment_add %}" method="POST" class="cmxform">
        {% for field in comment_form %}
            {% ifequal field.name "comment" %}
	            <div class="page_form_row">
		            <p class="text_area shift_plenty">
                        {{ field }}
                        {% if errors.comment %}
                            <label class="error" for="id_comment" generated="true" style="display: inline;">{{ errors.comment.0 }}</label>
                        {% endif %}
                    </p>
                </div>
            {% else %}
                <div style="display: none">{{ field }}</div>
            {% endifequal %}
        {% endfor %}
		<p class="btn"><input type="image" src="/media/bcms/images/forms/btn-submit.jpg" name="submit" /></p>
	</form>
	<p class="clearfix"></p>
</div><!--/form-->
</span>
