{% extends "desktop/sections/base_section.html" %}
{% load template_tags public_tags %}

{% block left %}	
    <div class="page_head">
	    <h1>{{ chart.title }}: <span>{{ chart.modified|date:"j F Y" }}</span> &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
		<div class="page_menu">
		    <h2>{{ pager.start_index }} - {{ pager.end_index }}</h2>
			<ul>
                {% for page in pages %}
    			    <li {% if page.current %}class="on"{% endif %}><span class="pm_left"></span><a href="{% smart_query_string pager.key page.number %}">{{ page.start }} - {{ page.end }}</a><span class="pm_right"></span></li>
                {% endfor %}
			</ul>
		</div>
	</div><!--/head-->
	<div class="chart_item">
	    <p class="ct_pos">Position</p>
		<p class="ct_art">Artist &amp; Song</p>
		<p class="ct_his">History</p>
		<p class="ct_vid">Video</p>
	</div><!--/item-->
    {% with pager.object_list as entries %}
        {% for entry in entries %}
            {% call_view entry render_chart %}
        {% endfor %}
    {% endwith %}
    <p class="clearfix"/>
{% endblock %}
