{% extends "desktop/generic/base_generic.html" %}
{% load public_tags %}

{% block generic %}
    {% if object_list %}
        {% for entry in object_list %}
            {% with entry.day as day %}
    	        <div class="page_stamp">
	                <p class="page_stamp_date">
		                <span class="month">{{ day|date:"M" }}</span>
        		    	<span class="day">{{ day|date:"j" }}</span>
        	    	</p>
	        	    <p class="page_stamp_title">{{ day|date:"l j F Y" }} {% ifequal day.date today %}<span>(Today)</span>{% endifequal %}</p>
    	        </div><!--/stamp-->
            {% endwith %}
            {% for event in entry.events %}
                {% call_view event render_listing %}
            {% endfor %}
        {% endfor %}
    {% else %}
	    <div class="page_container rich">
            <h3>No appearances are currently available. Please check back later...</h3>
            <p>Alternatively head on over to the <a href="{% url events %}">events page</a>. Or give us a piece of your mind by <a href="{% url contact %}">contacting us here</a>.</p>
        </div>
    {% endif %}
{% endblock %}
