<div class="page_head">
    <h1>Password Reset &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
</div><!--/head-->
<div class="page_form">
    <h2 class="smaller">Please enter your new password.</h2>
	<form id="frmForgottenPassword" action="" method="POST" class="cmxform">
        {% with form.new_password1 as field %}
	        <div class="page_form_row">
                <label for="id_new_password1">Password: </label>
    			<p class="text_input shift">
                    {{ field }}
                    {% if field.errors %}
                        <label class="error" for="id_{{ field.name }}" generated="true" style="display: inline;">{{ field.errors.0 }}</label>
                    {% endif %}
                </p>
	    	</div>
        {% endwith %}
        {% with form.new_password2 as field %}
		    <div class="page_form_row">
                <label for="id_new_password1">Confirm: </label>
    			<p class="text_input shift">
                    {{ field }}
                    {% if field.errors %}
                        <label class="error" for="id_{{ field.name }}" generated="true" style="display: inline;">{{ field.errors.0 }}</label>
                    {% endif %}
                </p>
	    	</div>
        {% endwith %}
		<div class="page_form_row no-pad">
		    <p class="label">&nbsp;</p>
			<p class="btn"><input type="image" src="/media/bcms/images/forms/btn-submit.jpg" name="submit" /></p>
		</div>
		<p class="clearfix"></p>
    </form>
</div><!--/form-->
