{% load scaled_image_tags public_tags %}

<div class="promo">
    <span class="controller_span">
        <div id="controller">
    	    <div class="jFlowControl">
	    	    <a href="javascript: void(0);" class="promo_on"> Good Hope FM DJ Champs</a>
	    		<p class="promo_detail">Win your own show on Good Hope FM</p>
		    </div>
            {% for item in items %}
    	        <div class="jFlowControl">
	    	        <a href="javascript: void(0);" class="promo_on">{{ item.title }}</a>
	    			<p class="promo_detail">{{ item.content.description }}</p>
		    	</div>
            {% endfor %}
	    </div>
    	<div id="slides">
	            <div>
			        <p id="radio_champs_content"></p>
                    <script type="text/javascript" src="/media/bcms/includes/swfobject.js"></script>
                    <script type="text/javascript">
                        swfobject.embedSWF("/media/bcms/flash/radio_champs.swf", "radio_champs_content", "414", "260", "9.0.0");
                    </script>
				    <p class="btn"><a href="{{ item.url }}">View Details</a></p>
    			</div>
            {% for item in items %}
	            <div>
			        <p><img src="{% scaled_image_url item.content 414 260 %}" width="414" height="260" alt="" /></p>
				    <p class="btn"><a href="{{ item.url }}">View Details</a></p>
    			</div>
            {% endfor %}
    	</div>
    </span>
</div><!--/Promo-->
	
<script type="text/javascript">
    jQuery(function(){
        jQuery(".controller_span").css("display", "block");
	    jQuery("#controller").jFlow({    
		    slides: "#slides",
		    width: "414px",
		    height: "260px",
		});
	});
</script>
