{% load scaled_image_tags public_tags %}

<div class="promo">
    <span class="controller_span">
        <div id="controller">
            {% for item in items %}
    	        <div class="jFlowControl">
	    	        <a href="javascript: void(0);" class="promo_on">{{ item.title }}</a>
	    			<p class="promo_detail">{{ item.content.description }}</p>
		    	</div>
            {% endfor %}
	    </div>
    	<div id="slides">
            {% for item in items %}
	            <div>
			        <p><a href="{% call_view item.content url %}"><img src="{% scaled_image_url item.content 414 260 %}" width="414" height="260" alt="" /></a></p>
    			</div>
            {% endfor %}
    	</div>
    </span>
</div><!--/Promo-->
	
<script type="text/javascript">
    jQuery(function(){
        jQuery(".controller_span").css("display", "block");
	    jQuery("#controller").jFlow({    
		    slides: "#slides",
		    width: "414px",
		    height: "260px"
		});
	});
</script>
