{% comment %}
<div class="page_comments"><a id="comments"></a>
				<h1>Comments &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
				<p class="comment_add"><a href="#comment_form">+ Add your Comment</a></p>
				<div class="comment">
					<p class="avatar"><img src="/media/bcms/images/examples/avatar.jpg" width="50" height="50" alt="" /></p>
					<p class="com_meta">
						<span class="com_meta_name">Gustav Praekelt</span>
						<span class="com_meta_time">3 Minutes Ago</span>
						<span class="com_meta_abuse"><a href="abuse_pop.html?height=500&amp;width=540" class="thickbox">Report Abuse</a></span>
					</p>
					<p class="com_blurb">I don't think it has anything to do with marketing. The price for the tickets are just too much considering the rate of unemployment in the country and the current economic situation.</p>
				</div><!--/comment-->
				<div class="comment">
					<p class="avatar"><img src="/media/bcms/images/examples/avatar.jpg" width="50" height="50" alt="" /></p>
					<p class="com_meta">
						<span class="com_meta_name">Gustav Praekelt</span>
						<span class="com_meta_time">3 Minutes Ago</span>
						<span class="com_meta_abuse"><a href="abuse_pop.html?height=500&amp;width=540" class="thickbox">Report Abuse</a></span>
					</p>
					<p class="com_blurb">I don't think it has anything to do with marketing. The price for the tickets are just too much considering the rate of unemployment in the country and the current economic situation.</p>
				</div><!--/comment-->
				<div class="comment">
					<p class="avatar"><img src="/media/bcms/images/examples/avatar.jpg" width="50" height="50" alt="" /></p>
					<p class="com_meta">
						<span class="com_meta_name">Gustav Praekelt</span>
						<span class="com_meta_time">3 Minutes Ago</span>
						<span class="com_meta_abuse"><a href="abuse_pop.html?height=500&amp;width=540" class="thickbox">Report Abuse</a></span>
					</p>
					<p class="com_blurb">I don't think it has anything to do with marketing. The price for the tickets are just too much considering the rate of unemployment in the country and the current economic situation.</p>
				</div><!--/comment-->
				<div class="comment">
					<p class="avatar"><img src="/media/bcms/images/examples/avatar.jpg" width="50" height="50" alt="" /></p>
					<p class="com_meta">
						<span class="com_meta_name">Gustav Praekelt</span>
						<span class="com_meta_time">3 Minutes Ago</span>
						<span class="com_meta_abuse"><a href="abuse_pop.html?height=500&amp;width=540" class="thickbox">Report Abuse</a></span>
					</p>
					<p class="com_blurb">I don't think it has anything to do with marketing. The price for the tickets are just too much considering the rate of unemployment in the country and the current economic situation.</p>
				</div><!--/comment-->
			</div><!--/comments-->
			<div class="page_form"><a id="comment_form"></a>
				<h1>Add your Comment &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
				<p class="comment_add"><a href="#comment_form">+ Add your Comment</a></p>
				<form id="frmAddComment" action="#" class="cmxform">
				<div class="page_form_row">
					<p class="text_area shift_plenty"><textarea name="your_comment" id="your_comment" class="required"></textarea></p>
				</div>
				<p class="btn"><input type="image" src="/media/bcms/images/forms/btn-submit.jpg" name="submit" /></p>
				</form>
				<p class="clearfix"></p>
			</div><!--/form-->
{% endcomment %}
