{% extends "desktop/base/base.html" %}
{% load desktop_inclusion_tags %}

{% block head %}
	<!--Slider-->
	<script type="text/javascript" src="/media/bcms/includes/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="/media/bcms/includes/jquery.localscroll-1.2.7-min.js"></script>
	<script type="text/javascript" src="/media/bcms/includes/jquery.serialScroll-1.2.2-min.js"></script>
	<script type="text/javascript" src="/media/bcms/includes/coda-slider.js"></script>
	<!--Promo-->
	<script type="text/javascript" src="/media/bcms/includes/jquery.flow.1.1.min.js"></script>
	<script type="text/javascript">
		jQuery(function(){
		    jQuery("#controller").jFlow({
		        slides: "#slides",
		        width: "414px",
		        height: "260px"
		    });
		});
	</script>
{% endblock %}

{% block content_body %}
    
    {% on_air %}

    <div class="mast_left no-bg">
	    {% features %}
        {% home_news %}
        {% home_competitions %}
        {% home_events %}
	</div><!--/MAST_LEFT-->
		
	<div class="mast_right">
	    {% home_advert %}
        <span class="auth_reload" src="{% url ajax_home_friends %}">
            {% home_friends %}
        </span>
        <span class="auth_reload" src="{% url ajax_home_status_updates %}">
            {% home_status_updates %}
        </span>
	</div><!--/MAST_RIGHT-->
	

{% endblock %}
