{% extends "desktop/sections/base_section.html" %}
{% load public_tags %}

{% block left %}	
    <div class="page_head">
	    <h1>500 - Houston, We Have A Problem! &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
	</div><!--/head-->
	<div class="page_container rich">
        <h3>There appears to be some technical difficulties right now. Our engineers are working on it.</h3>
    <p>
        We apologise for any inconvenience caused by this outage.
    </p>
</div>
{% endblock %}
