{% extends "sections/base_section.html" %}
{% load inclusion_tags scaled_image_tags public_tags %}

{% block left %}	
    <div class="page_head">
	    <h1>Competitions &nbsp;<img src="/media/bcms/images/arrow-title_light.gif" width="9" height="8" alt="" /></h1>
		<div class="page_menu">
		    <h2>Current Competitions</h2>
		    <ul>
		        <li class="on"><span class="pm_left"></span><a href="{% url competitions %}">Current Competitions</a><span class="pm_right"></span></li>
			    {% if settings.competition_general_rules %}<li><span class="pm_left"></span><a href="{% url competitions_rules %}">General Competition Rules</a><span class="pm_right"></span></li>{% endif %}
		    </ul>
	    </div>
	</div><!--/head-->
    {% call_view content render_article %}
{% endblock %}
