<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    {% block head %}
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>Broadcast CMS</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
	<link rel="apple-touch-icon" href="/media/bcms/mobile/pics/icons/apple-touch-icon.png" />
	<link rel="stylesheet" href="/media/bcms/mobile/css/mobile.css" type="text/css" />
    {% endblock %}
</head>
<body>
	<div id="header">
		<div id="logo"><a href="/"><img src="/media/bcms/mobile/pics/header/logo.png" alt="Broadcast CMS" /></a></div>
		{% if request.user.is_authenticated %}
        <div id="header-tools"><a href="/account/sign-out/">Sign Out</a> &nbsp; | &nbsp; Hello {{ request.user.username|title }}</div>
        {% else %}
        <div id="header-tools"><a href="/account/sign-in/">Sign In</a> &nbsp; | &nbsp; <a href="/account/sign-up/">Sign Up</a></div>
        {% endif %}
	</div>
	<div id="content">
        {% block content_body %}{% endblock %}
        {% block search %}
        <h2>Search</h2>
        <div class="section">
            <div id="search">
                <form action="search-results.html" method="get" id="search-form">
                    <input type="text" maxlength="255" id="search-input" size="12" name="search-input" />
                    <input type="submit" id="search-submit" name="search-submit" value="Search" />
                </form>
            </div>
        </div>
        {% endblock %}
        {% block menu %}
        <h2>Menu</h2>
        <div id="nav">
            <ul>
                <li {% block shows_active %}{% endblock %}><a href="/show/">Shows &amp; DJs <span class="red">&raquo;</span></a></li>
                <li {% block news_active %}{% endblock %}><a href="/news/">News <span class="red">&raquo;</span></a></li>
                <li {% block events_active %}{% endblock %}><a href="/event/">Events &amp; Gigs <span class="red">&raquo;</span></a></li>
                <li {% block competitions_active %}{% endblock %}><a href="/competition/">Competitions <span class="red">&raquo;</span></a></li>
                <li {% block galleries_active %}{% endblock %}><a href="/gallery/">Galleries <span class="red">&raquo;</span></a></li>
                <li {% block about_active %}{% endblock %}><a href="/about/">About <span class="red">&raquo;</span></a></li>
                <li {% block contact_active %}{% endblock %}><a href="/contact/">Contact Us <span class="red">&raquo;</span></a></li>
                <li {% block account_active %}{% endblock %}"><a href="/account/sign-in/">My Account <span class="red">&raquo;</span></a></li>
            </ul>
        </div>
        {% endblock %}
    </div>
    <div id="footer">&copy; 2009 Broadcast CMS. Powered by <a href="#">Broadcast CMS</a>. <a href="/terms/">Terms</a>. <a href="/privacy/">Privacy</a>. <a href="#">Web Version</a></div>
</body>
</html>