{% load desktop_inclusion_tags %}
<div class="post_head">
    {% likes_stamp instance %}
    <p class="post_meta">
        <span>{% if owner %}By <a href="{{ owner.url }}">{{ owner.username }}</a> on {% endif %}{{ instance.created|date:"j F Y" }}</span>
        <span>&nbsp; | &nbsp;</span>
        <span class="share_contain">
            <a href="#" class="pm_share">Share</a>
            <span class="share">
                <input type="text" name="share_link" id="share_link" readonly="" value="{{ share_url }}" /><br />
                <a href="{{ mailto_url }}"><img src="/media/bcms/images/icon-share_email.gif" width="18" height="15" alt="" /></a> &nbsp; <a href="{{ facebook_url }}"><img src="/media/bcms/images/icon-share_facebook.gif" width="15" height="15" alt="" /></a> &nbsp; <a href="{{ twitter_url }}"><img src="/media/bcms/images/icon-share_twitter.gif" width="16" height="15" alt="" /></a> 
            </span>    
        </span>
        <span>&nbsp; | &nbsp;</span>
        <span><a href="#comments" class="pm_comments">Comments</a></span>
        {% if instance.rating %}
            <div class="pb_star_rater">
		        <ul class="star-rating">
			        <li class="current-rating" style="width: {% widthratio instance.rating 5 100 %}%"></li>
    		    </ul>
	    	</div>
        {% endif %}
    </p>
    <h3>{{ instance.title }}</h3>
</div>
