{% load scaled_image_tags comments voting_tags public_tags %}

{% get_comment_count for object as comment_count %}
{% score_for_object object.contentbase as score %}
<div class="chunk_item">
    <div class="chunk_body">
	    {% if node.show_images %}<p class="upd_pic"><a href="{{ url }}"><img src="{% scaled_image_url object 107 60 %}" width="107" height="60" alt="" /></a></p>{% endif %}
    	<p class="upd_cat"><span class="upd_catname"><a>{{ object.labels.visible.0.title }}</a></span><span class="upd_meta">{{ score.score }} Likes | <a href="{{ url }}#comments">{{ comment_count }} Comments</a> | <a href="{% url modals_content object.slug %}?height=600&amp;width=720" class="thickbox">Peek &raquo;</a></span></p>
	    <h2><a href="{{ url }}">{{ object.title }}</a></h2>
    </div>
</div>
